# Docker profile — override localhost URLs bằng Docker service names
# Notification service không dùng database

spring:
  kafka:
    bootstrap-servers: kafka:9092
    producer:
      properties:
        schema.registry.url: http://schema-registry:8081
    consumer:
      properties:
        schema.registry.url: http://schema-registry:8081

management:
  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans
  endpoint:
    health:
      show-details: when-authorized
  tracing:
    sampling:
      probability: 0.5
